<form [formGroup]="paymentAddForm" (ngSubmit)="onAddPayment()">
    <input type="text" formControlName="cardNumber" placeholder="Enter Card Number"><br>
    <input type="text" formControlName="cardHolder" placeholder="Enter Card Holder"><br>
    <input type="date" formControlName="expirationDate" placeholder="Enter Expiration Date"><br>
    <input type="text" formControlName="securityCode" placeholder="CVV"><br>
    <input type="text" formControlName="amount" placeholder="Enter Amount"><br>
    <button type="submit">Submit</button>
    <a routerLink="/">Go back home</a>
</form>